*.pyc
htmlcov
.coverage
coverage.xml
.extension_for_test_dev.env
node_modules
ui/tests/coverage

.DS_Store
# Editor directories and files
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.idea
